* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }

  body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: flex-start;
  }
 
  .navbar {
    background-color: rgb(251, 248, 246);
    display: flex;
    justify-content: flex-end;
    padding: 20px;
  }
  
  .navbar a {
    margin-left: 15px;
    text-decoration: none;
    color: #555;
    font-size: 14px;
    cursor: pointer;
  }
  
  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    position: relative;
    top: -80px;
  }
  
  .logo {
    width: 400px;
    margin-top: -50px;
  }

  .search-box{
    display: flex;             
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 24px;
    padding: 5px 10px;
    width: fit-content;
    margin-top: -40px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
  }
  
  .icon{
    width: 40px;
    height: 40px;
    padding: 10px;
    cursor: pointer;
  }

  .search-box input {
    width: 450px;
    padding: 12px 20px;
    border-radius: 24px;
    border: none;
    font-size: 16px;
    outline: none;
  }
  
  .search-box input:hover {
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
  }
  
  footer {
    display: flex;
    justify-content: center;
    padding: 15px 40px;
    background-color: rgb(251, 248, 246);
    font-size: 14px;
  }
  
  footer a {
    text-decoration: none;
    color: #555;
    margin-right: 15px;
  }
  